In [1]:
import pandas as pd
import numpy as np
import cv2

In [2]:
img_info_df = pd.read_csv("image_info.csv")

In [3]:
img_info_df.head(3)

,Filename,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId
0,00002#00000_00000.jpg,35,30,6,5,30,25,2
1,00002#00000_00001.jpg,35,31,5,5,30,26,2
2,00002#00000_00002.jpg,35,31,5,5,30,26,2

In [4]:
len(img_info_df["ClassId"].unique()) # 43 类

43

In [5]:
img_info_df["ClassId"].value_counts()

2     2250
1     2220
13    2160
12    2100
38    2070
10    2010
4     1980
5     1860
25    1500
9     1470
7     1440
8     1410
3     1410
11    1320
18    1200
35    1200
17    1110
31     780
14     780
33     689
15     630
26     600
28     540
23     510
30     450
34     420
6      420
16     420
22     390
36     390
40     360
20     360
21     330
39     300
24     270
29     270
32     240
42     240
41     240
27     240
37     210
19     210
0      210
Name: ClassId, dtype: int64

In [6]:
i = img_info_df["ClassId"].unique()
i.sort()
i

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42])

In [7]:
k = img_info_df["Filename"].apply(lambda r: r.split("#")[0]).unique()
k.sort()
k

array(['00000', '00001', '00002', '00003', '00004', '00005', '00006',
       '00007', '00008', '00009', '00010', '00011', '00012', '00013',
       '00014', '00015', '00016', '00017', '00018', '00019', '00020',
       '00021', '00022', '00023', '00024', '00025', '00026', '00027',
       '00028', '00029', '00030', '00031', '00032', '00033', '00034',
       '00035', '00036', '00037', '00038', '00039', '00040', '00041',
       '00042'], dtype=object)

In [8]:
img_info_df.shape #39209 张图

(39209, 8)

In [9]:
img_info_df["roix"] = img_info_df.apply(lambda r: abs(r["Roi.X1"] - r["Roi.X2"]), axis=1)
img_info_df["roiy"] = img_info_df.apply(lambda r: abs(r["Roi.Y1"] - r["Roi.Y2"]), axis=1)

In [10]:
img_info_df.head(3)

,Filename,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,roix,roiy
0,00002#00000_00000.jpg,35,30,6,5,30,25,2,24,20
1,00002#00000_00001.jpg,35,31,5,5,30,26,2,25,21
2,00002#00000_00002.jpg,35,31,5,5,30,26,2,25,21

In [11]:
img_info_df["roix"].max()

203

In [12]:
img_info_df["roiy"].max()

185

In [13]:
img_info_df["roix"].min()

15

In [14]:
img_info_df["roiy"].min()

15

In [15]:
img_info_df["roix_rate"] = img_info_df.apply(lambda r: r["roix"] / r["Width"], axis=1)
img_info_df["roiy_rate"] = img_info_df.apply(lambda r: r["roiy"] / r["Height"], axis=1)

In [16]:
img_info_df.head(3)

,Filename,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,roix,roiy,roix_rate,roiy_rate
0,00002#00000_00000.jpg,35,30,6,5,30,25,2,24,20,0.685714,0.666667
1,00002#00000_00001.jpg,35,31,5,5,30,26,2,25,21,0.714286,0.677419
2,00002#00000_00002.jpg,35,31,5,5,30,26,2,25,21,0.714286,0.677419

In [17]:
img_info_df["roix_rate"].max() # 有效区最大占比

0.8947368421052632

In [18]:
img_info_df["roix_rate"].min() # 有效区最小占比

0.5555555555555556

In [19]:
img_info_df["roiy_rate"].max() # 有效区最大占比

0.84375

In [20]:
img_info_df["roiy_rate"].min() # 有效区最小占比

0.5555555555555556

In [21]:
img_info_df["wh_rate"] = img_info_df.apply(lambda r: r["Width"] / r["Height"], axis=1)

In [22]:
img_info_df["wh_rate"].max()

1.417808219178082

In [23]:
img_info_df["wh_rate"].min()

0.36813186813186816

In [24]:
img_info_df[(img_info_df["wh_rate"] < 0.76) | (img_info_df["wh_rate"] > 1.3)].count()

Filename     245
Width        245
Height       245
Roi.X1       245
Roi.Y1       245
Roi.X2       245
Roi.Y2       245
ClassId      245
roix         245
roiy         245
roix_rate    245
roiy_rate    245
wh_rate      245
dtype: int64

In [25]:
img_info_df[(img_info_df["wh_rate"] < 0.76) | (img_info_df["wh_rate"] > 1.3)][["Filename"]].to_csv("unstandard_file.csv", index=False)

In [26]:
blacklist

NameError: name 'blacklist' is not defined

In [ ]:
img_info_df[img_info_df.Width==177]

In [ ]:
img_info_df[img_info_df["Filename"]=="00010#00033_00011.jpg"]